.navbar {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  padding: 20px;
  z-index: 1;
  background: #403f3f;
}

.cart-icon {
  position: relative;
  cursor: pointer;
}

.custom-icon {
  font-size: 25px;
}

span {
  color: white;
  font-size: 17px;
}

.badge {
  background-color: red;
  color: white;
  padding: 2px 6px;
  font-size: 10px;
  position: relative;
  top: -10px;
  left: -5px;
}

.logout-wrapper {
  position: relative;
  display: inline-block;
}

.logout-button {
  background-color: #403f3f;
  color: #da5757;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 50px;
  margin-top: 5px;
  width: 90px;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  background-color: #da5757;
  z-index: 100;

}

.dropdown-item {
  background-color: #da5757;
}