<div class="checkout-header">
    <h1>Check Out!</h1>
</div>

<div class="checkout-container">
    <div class="checkout-card">

        <h4>Customer Information</h4>
        <form [formGroup]="checkoutForm">
            <mat-form-field appearance="outline" class="small-input">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Enter name" formControlName="name" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="small-input">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Enter email" formControlName="email" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="small-input">
                <mat-label>Address</mat-label>
                <input matInput placeholder="Enter address" formControlName="address" />
            </mat-form-field>

            <h4>Payment Details</h4>

            <mat-form-field appearance="outline" class="small-input">
                <mat-label>Card Number</mat-label>
                <input matInput placeholder="Enter card number" type="number" formControlName="cardNumber" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="small-input">
                <mat-label>Expiration Date</mat-label>
                <input matInput placeholder="MM/YY" formControlName="expirationDate" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="small-input">
                <mat-label>CVV</mat-label>
                <input matInput placeholder="Enter CVV" type="number" formControlName="cvv" />
            </mat-form-field>
            <button class="checkout-button" type="submit">Place Order</button>

        </form>

    </div>

    <div class="checkout-card">

        <h2>Order Summary</h2>
        <form>
            <div class="summary-card">
                <div class="summary-item" *ngFor="let item of CartItem">
                    <span class="summary-item">Product:  {{ item.productName }} x {{ item.quantity }}</span>
                </div>
                <hr />
                <div class="summary-total">
                    <span><b>Total: </b></span>
                    <span>${{ checkoutPrice() }}</span>
                </div>
            </div>
        </form>
    </div>
</div>